In [25]:
import polars as pl

In [26]:
# Configure Polars to display numbers without scientific notation
pl.Config.set_fmt_float("full")

polars.config.Config

In [27]:
car_sales = pl.read_csv('car_sales_2024.csv')

In [28]:
car_sales.shape

(5000, 15)

In [29]:
car_sales.head()

shape: (5, 15)
┌────────────┬────────────┬────────────┬──────────┬───┬────────────┬───────────┬───────┬───────────┐
│ sale_id    ┆ sale_date  ┆ customer_i ┆ car_make ┆ … ┆ dealership ┆ salespers ┆ state ┆ commissio │
│ ---        ┆ ---        ┆ d          ┆ ---      ┆   ┆ ---        ┆ on        ┆ ---   ┆ n         │
│ str        ┆ str        ┆ ---        ┆ str      ┆   ┆ str        ┆ ---       ┆ str   ┆ ---       │
│            ┆            ┆ str        ┆          ┆   ┆            ┆ str       ┆       ┆ f64       │
╞════════════╪════════════╪════════════╪══════════╪═══╪════════════╪═══════════╪═══════╪═══════════╡
│ SALE202445 ┆ 2024-01-01 ┆ CUST14500  ┆ Honda    ┆ … ┆ Westside   ┆ David     ┆ FL    ┆ 850.2     │
│ 00         ┆            ┆            ┆          ┆   ┆ Auto       ┆ Anderson  ┆       ┆           │
│ SALE202417 ┆ 2024-01-01 ┆ CUST11760  ┆ BMW      ┆ … ┆ North      ┆ Mary      ┆ IL    ┆ 1012.44   │
│ 60         ┆            ┆            ┆          ┆   ┆ Point Cars ┆ Jackson   ┆       ┆           │
│ SALE202417 ┆ 2024-01-01 ┆ CUST11772  ┆ Mazda    ┆ … ┆ Downtown   ┆ Emily     ┆ PA    ┆ 1079.2    │
│ 72         ┆            ┆            ┆          ┆   ┆ Motors     ┆ Davis     ┆       ┆           │
│ SALE202417 ┆ 2024-01-01 ┆ CUST11776  ┆ Nissan   ┆ … ┆ Downtown   ┆ Sarah     ┆ PA    ┆ 1296.27   │
│ 76         ┆            ┆            ┆          ┆   ┆ Motors     ┆ Johnson   ┆       ┆           │
│ SALE202420 ┆ 2024-01-01 ┆ CUST12044  ┆ Ford     ┆ … ┆ Downtown   ┆ James     ┆ NC    ┆ 1958.91   │
│ 44         ┆            ┆            ┆          ┆   ┆ Motors     ┆ Thomas    ┆       ┆           │
└────────────┴────────────┴────────────┴──────────┴───┴────────────┴───────────┴───────┴───────────┘

In [30]:
# Get the sales for a given state
state = input("Enter the state: ")
state_sales = car_sales.filter(pl.col('state') == state)

In [31]:
state_sales.shape

(538, 15)

In [32]:
state_sales.head()

shape: (5, 15)
┌────────────┬────────────┬────────────┬──────────┬───┬────────────┬───────────┬───────┬───────────┐
│ sale_id    ┆ sale_date  ┆ customer_i ┆ car_make ┆ … ┆ dealership ┆ salespers ┆ state ┆ commissio │
│ ---        ┆ ---        ┆ d          ┆ ---      ┆   ┆ ---        ┆ on        ┆ ---   ┆ n         │
│ str        ┆ str        ┆ ---        ┆ str      ┆   ┆ str        ┆ ---       ┆ str   ┆ ---       │
│            ┆            ┆ str        ┆          ┆   ┆            ┆ str       ┆       ┆ f64       │
╞════════════╪════════════╪════════════╪══════════╪═══╪════════════╪═══════════╪═══════╪═══════════╡
│ SALE202445 ┆ 2024-01-01 ┆ CUST14500  ┆ Honda    ┆ … ┆ Westside   ┆ David     ┆ FL    ┆ 850.2     │
│ 00         ┆            ┆            ┆          ┆   ┆ Auto       ┆ Anderson  ┆       ┆           │
│ SALE202433 ┆ 2024-01-01 ┆ CUST13303  ┆ Tesla    ┆ … ┆ North      ┆ Jennifer  ┆ FL    ┆ 1546.21   │
│ 03         ┆            ┆            ┆          ┆   ┆ Point Cars ┆ Martinez  ┆       ┆           │
│ SALE202408 ┆ 2024-01-06 ┆ CUST10803  ┆ Honda    ┆ … ┆ North      ┆ Sarah     ┆ FL    ┆ 1030.65   │
│ 03         ┆            ┆            ┆          ┆   ┆ Point Cars ┆ Johnson   ┆       ┆           │
│ SALE202440 ┆ 2024-01-07 ┆ CUST14019  ┆ Mercedes ┆ … ┆ South Bay  ┆ Mary      ┆ FL    ┆ 1798.69   │
│ 19         ┆            ┆            ┆          ┆   ┆ Autos      ┆ Jackson   ┆       ┆           │
│ SALE202405 ┆ 2024-01-08 ┆ CUST10507  ┆ Ford     ┆ … ┆ Westside   ┆ Sarah     ┆ FL    ┆ 1573.73   │
│ 07         ┆            ┆            ┆          ┆   ┆ Auto       ┆ Johnson   ┆       ┆           │
└────────────┴────────────┴────────────┴──────────┴───┴────────────┴───────────┴───────┴───────────┘

In [33]:
# Get sales by state using polars
sales_by_state = car_sales.group_by('state').agg(
    pl.sum('sale_price').alias('total_sales'),
    pl.count('sale_price').alias('sales_count')
)

In [34]:
sales_by_state.shape

(10, 3)

In [35]:
pl.Config.set_fmt_float("full")

polars.config.Config

In [36]:
sales_by_state.head()

shape: (5, 3)
┌───────┬─────────────┬─────────────┐
│ state ┆ total_sales ┆ sales_count │
│ ---   ┆ ---         ┆ ---         │
│ str   ┆ f64         ┆ u32         │
╞═══════╪═════════════╪═════════════╡
│ PA    ┆ 17866692.35 ┆ 480         │
│ NY    ┆ 19062197.61 ┆ 508         │
│ OH    ┆ 19920681.73 ┆ 524         │
│ GA    ┆ 18921434.95 ┆ 505         │
│ IL    ┆ 20205300.48 ┆ 512         │
└───────┴─────────────┴─────────────┘

In [37]:
sales_by_state.sort('total_sales', descending=True)

shape: (10, 3)
┌───────┬─────────────┬─────────────┐
│ state ┆ total_sales ┆ sales_count │
│ ---   ┆ ---         ┆ ---         │
│ str   ┆ f64         ┆ u32         │
╞═══════╪═════════════╪═════════════╡
│ FL    ┆ 20220854.18 ┆ 538         │
│ IL    ┆ 20205300.48 ┆ 512         │
│ OH    ┆ 19920681.73 ┆ 524         │
│ NY    ┆ 19062197.61 ┆ 508         │
│ GA    ┆ 18921434.95 ┆ 505         │
│ CA    ┆ 18727709.11 ┆ 509         │
│ TX    ┆ 18309337.33 ┆ 489         │
│ MI    ┆ 18264746.87 ┆ 498         │
│ PA    ┆ 17866692.35 ┆ 480         │
│ NC    ┆ 16101036.37 ┆ 437         │
└───────┴─────────────┴─────────────┘